body{
    background: linear-gradient(90deg, transparent 45%, #897f63 45%, #897f63 55%, transparent 55%, transparent 20%, #897f63 20%, #897f63 30%,transparent 30%);
    background-size: 3em 3em;
    background-color: #f1e5a7;
    opacity: 1;
}
#header{
    text-align: center;
    height: 80px;
    margin-top: -7px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 5px;
    border: 3px;
    border-color: black;
    border-style: solid;
    padding-top: 1px;
    font-family: "Happy Monkey",serif;
    background: radial-gradient(circle, #6cd380 10%, transparent 11%),radial-gradient(circle at bottom left, #6cd380 5%, transparent 6%),radial-gradient(circle at bottom right, #6cd380 5%, transparent 6%),radial-gradient(circle at top left, #6cd380 5%, transparent 6%),radial-gradient(circle at top right, #6cd380 5%, transparent 6%);
    background-size: 1em 1em;
    background-color: #4fa82e;
    opacity: 1;
}
.Content{
    width: 100%;
    margin: auto;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.Dog_Menu{
    display: flex;
    padding-bottom: 5px;
}

#dog_breeds{
    flex-grow: 3;
    margin-right: 4px;
}

#qty{
    flex-grow: 1;
}

#fetch_button{
    flex-grow: 2;
    margin-left: 4px;
}

.Dog_Gallery{
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.Dog_Gallery_Message{
    width: 100%;
    text-align: center;
    font-size: larger;
}
.Image_Container{
    margin: auto;
    width: 99%;
    padding: 2px;
    height: 300px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


@media only screen and (max-width: 500px) {
    .Dog_Gallery{
        display: block;
    }
    #header{
     font-size: smaller;
    }
}

@media only screen and (max-width: 950px) {
    .Dog_Gallery{
        grid-template-columns: 50% 50%;
    }
}


@media only screen and (min-width: 1350px) {
    .Content{
        width: 1350px;
    }
}

@media only screen and (min-width: 600px) {
    .Dog_Menu{
        width: 600px;
        margin: auto;
    }
}
